@model MVC_with_EF__CRUD_.Models.tblStudent
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("insertupdate", "Default", FormMethod.Post))
{
    <table>
        @Html.HiddenFor(i => i.id)
        <tr>
            <td>Name:</td>
            <td>@Html.TextBoxFor(n => n.name)</td>
        </tr>

        <tr>
            <td>Age:</td>
            <td>@Html.TextBoxFor(a => a.age)</td>
        </tr>

        <tr>
            <td>State:</td>
            <td>@Html.DropDownListFor(s => s.state, new SelectList(ViewBag.st, "sid", "sname"), "--select--")</td>
        </tr>

        <tr>
            <td>Gender:</td>
            <td>@Html.DropDownListFor(g => g.gender, new SelectList(ViewBag.ge, "gid", "gname"), "--select--")</td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="@ViewBag.btn" /></td>
        </tr>
    </table>
}
